.cvh-wrap {
  display: flex;
  gap: 40px;
}
.chv-cell {
  display: flex;
  gap: 4px;
}
.cvh-title {
  font-weight: bold;
}
.cvh-quarter-hours-left {
  direction: ltr;
}
.month-bg {
  background-color: #ccddff;
}
.quarter-bg {
  background-color: rgb(250, 231, 190);
}
