.cvh-wrap {
  display: flex;
  gap: 40px;
  padding: 0 5px;
}
.chv-cell {
  display: flex;
  gap: 4px;
}
.cvh-title {
  font-weight: bold;
}
.cvh-quarter-hours-left {
  direction: ltr;
}
.month-bg {
  background-color: #ccddff;
}
.quarter-bg {
  background-color: rgb(150, 231, 190);
}
.cvh-refresh .cvh-refresh-image {
  height: 20px;
  cursor: pointer;
}
.cvh-refresh .cvh-refresh-image {
  height: 20px;
  cursor: pointer;
}
.cvh-refresh .cvh-refresh-image.cvh-spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
